.contacts {
  padding: 100px 0;
  @media (max-width: $breakpoint768){
    padding: 50px 0;
  }
  &__wrapper {
    // position: relative;
  }

  &__top {
    margin-bottom: 45px;
  }

  &__title {
  
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      background-image: url(../img/decor2.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 120px;
      height: 119px;
      top: -57px;
      left: 470px;
      @media (max-width: $breakpoint768){
          width: 80px;
          height: 79px;
          top: 252px;
          left: 242px;
      }
      @media (max-width: $breakpoint480){
        display: none;
      }
    }
  }

  &__text {
    max-width: 505px;
    text-align: left;
    margin-bottom: 32px;
  }

  &__social {
    border: 1px solid $greyColor;
    padding: 16px;
  }

  &__social-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 16px;
    color: #fff;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {}

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $greyColor;
  }
}