// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1300;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint610: 609.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #131418;
$greyColor: #ABB2BF;
$pinkColor: #C778DD;
$darkPink: #720091;
$bgColor: #282C33;

// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: #C778DD;
$burgerActiveColor: #C778DD;

// Fonts
$fontMain: 'Fira Sans',
sans-serif;
$fontSecondary: '';
