.works {
  padding: 100px 0;
  @media (max-width: $breakpoint768){
    padding: 50px 0;
  }
  &__wrapper {}

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  // &__title {
  //   position: relative;
  //   &:after {
  //     position: absolute;
  //     content: "";
  //     height: 2px;
  //     width: 250px;
  //     background-color: $pinkColor;
  //     right: -300px;
  //     top: 50%;
  
  //     @media (max-width: $breakpoint768) {
  //       width: 100px;
  //       right: -125px;
  //     }
  
  //     @media (max-width: $breakpoint480) {
  //       display: none;
  //     }
  //   }
  // }

  &__top-btn {
    color: $greyColor;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    @media (max-width: $breakpoint480){
      font-size: 14px;
    }
    &:hover {
      color: $pinkColor;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 32px;
    justify-items: center;
    @media (max-width: $breakpoint480){
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  &__item {
    border: 2px solid $greyColor;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }

  &__img {
    img {
      object-fit: cover;
      max-width: 100%;  
      &:hover {
        scale: 0.99;
      }
    }
    
  }

  &__languages {
    padding: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $greyColor;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid $greyColor;
    border-bottom: 2px solid $greyColor;
  }

  &__box {
    
  }

  &__info {
    padding: 16px;
    @media (max-width: $breakpoint610){
      padding: 10px;
    }
  }

  &__name {
    // margin-top: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 16px;
    @media (max-width: $breakpoint610){
      font-size: 20px;
    }
  }

  &__text {
    // margin-top: auto;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $greyColor;
  }

  &__buttons {
    display: flex;
    gap: 16px;
    margin-top: auto;
  }

  &__btn-view {
  }

  &__btn-git {
  }
}